body {
  background-color: #9ACEF4;
}
h1 {
  color: black;
  /* background-color: grey; */
}
.flexContainer {
  list-style: none;
  /* display: flex; */
  justify-content: wrap-around; */
  /* justify-content: space-around; */
  /* flex-direction: row-reverse; */
}
.flexItem {
  padding: 5px;
  color: black;
  /* font-size: 20%; */
  /* font-weight: bold; */
  text-align: center;
  margin: 10px;
  /* flex-grow: 10; */
}

#infoBox{
  display: none;
  position: relative;
  background-color: grey;
  width: 500px;
  height: 500px;
  /* top: 50px; */
  /* left: 100px; */
  margin-left: auto;
  margin-right: auto;
}

#movieRadio {
  display:none;
  border: 1px dashed black;
}
